<div class="container">
  <h1>Movies Lists</h1>

  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

  <ul>
    <% @lists.each do |list| %>
    <li>
      <%= link_to list_path(list) do %>
        <%= list.name %>
        <% if list.photo.key %>
          <%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
